html {
  font-size: 16px;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

body {
  background-image: url("/assets/bg.jpg");
  background-repeat: repeat; }

.headerLogo {
  margin-top: -25px;
  background-position: center;
  background-repeat: no-repeat;
  position: inherit; }

.header {
  width: 1200px;
  height: 65px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  color: #ffff;
  background-color: white;
  background-image: url("/assets/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .header .bodyEl {
    background-color: pink;
    width: 325px;
    height: 400px; }
  .header .article {
    background-color: white;
    width: 325px;
    height: 400px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header {
      font-size: 2.125rem;
      padding: 20px; } }
  @media (min-width: 1024px) {
    .header {
      font-size: 2.25rem;
      padding: 30px; } }

.container {
  height: 100%;
  min-width: 400px;
  max-width: 768px;
  margin: auto;
  background-color: #00df4e; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      background-color: cornflowerblue; } }
